.about {
  position: relative;
  padding-top: 150px;
  width: 100%;
  overflow: hidden;
}

.about--bg {
  position: absolute;
  // overflow: hidden;
  width: 100%;
  height: 120%;
  top: -150px;
  left: 0px;
  background: url("../../images/about-bg.png");
  // background: linear-gradient(to bottom right, #0e1314 21%, #4fffca 244%);
  // background-size: cover;
  // background: rgb(14, 19, 20);
  // background: radial-gradient(
  //   circle,
  //   rgba(14, 19, 20, 1) 0%,
  //   rgba(79, 255, 202, 1) 50%,
  //   rgba(14, 19, 20, 1) 80%
  // );
}

.about--box {
  background: rgba(56, 92, 95, 0.3);
  box-shadow: inset 1px 1px 4px #4fffca;
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;

  padding: 44px 38px;

  text-align: center;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $accent-color;

    border-radius: 1px;

    position: absolute;
    bottom: -180px;
    left: 50%;

    transform: translate(-50%, -50px);
  }
}

.about--logo {
  fill: $logo-color;
}

.about--paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  text-align: center;

  color: $main-white;

  margin-bottom: 30px;
  margin-top: 45px;
}

.about--item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  /* or 21px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $main-white;

  margin-bottom: 50px;

  &:not(:last-child)::before {
    content: "";
    width: 125px;
    height: 1px;
    background-color: $main-white;

    position: absolute;
    top: 140%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
