.afilliate-program {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.afilliate-program-container {
  padding-bottom: 250px;
  padding-top: 160px;
}

.afilliate-program--img-container {
  position: absolute;
  overflow: hidden;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  padding-top: 230px;
}

.afilliate-program--img {
  width: 100%;
  height: 100%;
}

.galaxy-blur {
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0px;
}

.afilliate-program--header {
  position: relative;
  font-weight: 700;
  font-size: 43px;
  line-height: 118%;
  /* or 51px */

  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 25px;
}

.afilliate-program--paragraph {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 118%;
  /* or 24px */

  color: #ffffff;

  margin-bottom: 70px;
}

.btn-contaner {
  display: flex;
  justify-content: center;
}

.btn-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 100% */

  color: $main-white;

  padding-top: 15px;
}

.js-display {
  display: none;
}
