.info-container {
  padding-bottom: 500px;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  background-image: url("../../images/smth.png");
  background-position: bottom;
  position: relative;
  background-color: #000;
}

.info-bg {
  width: 100%;
  height: auto;
}

.info-blur {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(120px);
  filter: blur(120px);
  background: rgba(79, 192, 255, 0.15);
}

.info--paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  text-align: center;

  color: $main-white;

  padding-top: 92px;
  padding-bottom: 40px;
}
